
body{
    background-color: #E0E0E0;
}

#CJNameApe{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#CJEmail{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #9E9E9E;
}

#perfil{
    padding-top: 10px;
    /* width: 80vh; */
    padding: 30px 20px;
    background-color: white;
    height: 100vh;
}

.delete{
    background-color: #ef5350 !important;
}

.delete:hover{
    background-color: #e53935 !important;
}

#tab1{
    width: 50%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

tr > td:first-child{
    font-weight: bold;
    background-color: #f1f1f1;
}

td{
    padding: 3px;
    border: 1px solid #9E9E9E;
}

#informacionPersonal{
    margin: auto;
    width: 80%;
}

#modify{
    margin-right: 7%;
}

#modPerfil{
    text-align: center;
}

input[type=text], select, input[type=date], input[type=password]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: #2196F3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1976D2;
}

.aperfil{
    color: white !important;
    text-decoration: none !important;
}

@media (max-width: 767px){
    #tab1 {
        width: 80%;
    }
}

#Botones{
    margin: auto;
    text-align: center;
}